{% extends 'dashboard.html' %}
{% block list_addons %}
{% endblock %}

{% block data %}
    <table class="table table-bordered">

   <tr>
  <td><strong>Product</strong></td>
  <td><strong>Sugar (g)</strong></td>
  <td><strong>Carbs (g)</strong></td>
  <td><strong>Fat (g)</strong></td>
  <td><strong>Protein (g)</strong></td>
   <td><strong>Fiber (g)</strong></td>

</tr>
    <tr>
  <td>WALG(NICE) CHOC CVRD PRTZLS</td>
   <td>30</td>
  <td>63</td>
  <td>18</td>
  <td>6</td>
  <td>3</td>
</tr>
<tr>
  <td>MARS M&M M/CHOC PRTZL SNGL</td>
  <td>17</td>
  <td>24</td>
  <td>4.5</td>
  <td>2</td>
  <td>1</td>
</tr>
<tr>
  <td>HERSHEY TXZLRS STRWBRY TWST</td>
  <td>29</td>
  <td>56</td>
  <td>1</td>
  <td>2</td>
  <td>0</td>
</tr>
    <tr>
  <td>NICE! CORN NUGGETS</td>
  <td>0</td>
  <td>63</td>
  <td>10.5</td>
  <td>6</td>
  <td>12</td>
</tr>
    <tr>
  <td>NICE! XL RSTD/SLTD PEANUTS</td>
  <td>2</td>
  <td>8</td>
  <td>21</td>
  <td>11</td>
  <td>3</td>
</tr>
</table>



{% endblock %}