
<footer>
    <div class="row">
        <div class="col-sm-3 text-center pull-left">
            <p>SMART potato @ 2014 </p>
        </div>
        <div class="col-sm-6 col-sm-offset-3 text-center pull-right">
            <div class="content"></div>
            <div class="footer">
                <div class="social"><a href="https://www.facebook.com/smartpotatoco">&#62220;</a></div>
                <div class="social"><a href="https://twitter.com/smartpotatoco">&#62217;</a></div>
                <div class="social">&#62223;</div>
                <div class="social">&#62226;</div>

            </div>

        </div>





        </div>

</footer>