{% extends 'base.html' %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">

        <h2><strong>better habits, better Life</strong></h2>
        <p>Conveniently providing your nutritional data to improve your buying habits.</p>
        <p><a class="btn btn-success btn-lg register" role="button" href="/accounts/register"> Start Living healthier today  &raquo;</a></p>
      </div>
    </div>

{% endblock %}
