{% extends 'base.html' %}


{% block content %}


<section id="SECTION_1">

       <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header text-center">Tips for taking better receipt pictures</h3>
            </div>

            <div class="col-sm-4 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="/static/media/images/receipt-blurry.png"alt="">
                </a>
                <br id="BR_9" /><br id="BR_10" />

					<p>The receipt pictured above is too blury to process. Make sure to focus in on the receipt and use the flash when necessary.</p>

                  </div>

            <div class="col-sm-4 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="/static/media/images/receipt-incomplete.png"  alt="">
                </a>
                <br id="BR_18" /><br id="BR_19" />

					Make sure the vendor's name, purchase date and total is in the picture. We can make this stuff up but not sure if you'd like that!

            </div>

            <div class="col-sm-4 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="/static/media/images/receipt-clear.png" alt="">
                </a>
                <br id="BR_23" /><br id="BR_24" />

					The receipt above easy to read and complete. We can extract all the information you'd expect to see in {{ a }} your report.

            </div>



        </div>







</section>

{% endblock %}